@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(168, 255, 201);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, rgb(52, 221, 128), rgb(0, 77, 0));
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 1rem;
    font-size: 3em;
    font-weight: normal;
    font-family: 'bebas neue';
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.356);
}
 header p {
    margin-top: 0.4rem;
    padding: 1rem;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.13);
}

header > nav {
    text-align: left;
    text-decoration: none;
    margin-top: 0.5rem;
    padding: 0.5rem;
}
.menu:hover {
    background-color: rgb(8, 83, 12);
    border-radius: 5px;
    padding: 0.5rem;
    transition-duration: .5s;
}

header a {
    text-decoration: none;
    color: rgb(190, 245, 197);
    font-size: 1.1rem;
    margin-right: 0.7rem;
    padding: 0.5rem;
}

main {
    background-color: white;
    margin: 0rem 0rem;
    padding: 1rem;
    max-width: 800px;
    min-width: 350px;
    margin: auto;
}

main h2 {
    font-family: "idroid";
    color: green;
}

main p {
    text-indent: 1.5rem;
    margin: 1rem 0rem;
}

main h3 {
    margin: 1rem 0rem;
    padding-left: 0.5rem;
    font-family: "idroid";
    background-image: linear-gradient(to right, rgba(0, 255, 0, 0.295), rgba(149, 167, 149, 0));
    color: green;
}

.links {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

main img {
    width: 100%;
}

main #bugdroid {
    max-width: 350px;
    margin: auto;
    display: block;
}

main article {
    background-color: rgb(255, 255, 255);
    margin: 0;

}

main h4 {
    margin: 1rem 0rem;
    background-color: rgb(50, 160, 50);
    color: white;
    padding: 0.5rem;
    border-radius: 5px 5px 0px 0px;
}

footer {
    background-color: green;
    color: white;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;
}

